{% extends 'base.html.twig' %}

{% block body %}
    {% include('_includes/_header.html.twig') %}


    <div class="m-wrapper m-large_home" id="m-wrapper">
    <section id="m-large_home">
        <div class="m-lg_outer">
            {#<div class="m-logo">#}
                {#<a href="{{ path('site') }}"><img alt="" class="img-responsive" src="{{ asset('bundles/frontpage/assets/images/logo.png') }}"></a>#}
            {#</div>#}

            {% include ('_includes/_developpement.html.twig') %}

            {% include('_includes/_formation.html.twig') %}

            {% include('_includes/_multimedia.html.twig') %}



        </div>
    </section>
    </div>



    {% include('_includes/_footer.html.twig') %}

{% endblock %}