<!-- BLOCK BAR -->
<section id="m-line_graph">
   <div class="container clearfix m-mt90 m-line_graph">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
     <h3>Some text goes here</h3>
     <p>Architecture has to do with planning, designing and constructing form, space and ambience to reflect functional, technical, social, environmental and aesthetic considerations. It requires the creative manipulation and coordination of materials and technology, and of light and shadow. </p>

     <p>Often, conflicting requirements must be resolved. The practice of Architecture also encompasses the pragmatic aspects of realizing buildings and structures. </p>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 m-line_grahp">
     <div class="row">
      <div class="m-line_graph_single">
       <span>ARCHITECTURE</span>
       <div class="m-line_graph_bar">
        <div>
         <span data-attr="90"></span>
        </div>
       </div>
      </div>
      <div class="m-line_graph_single">
       <span>INTERIOR</span>
       <div class="m-line_graph_bar">
        <div>
         <span data-attr="40"></span>
        </div>
       </div>
      </div>
      <div class="m-line_graph_single">
       <span>WORDPRESS</span>
       <div class="m-line_graph_bar">
        <div>
         <span data-attr="80"></span>
        </div>
       </div>
      </div>
      <div class="m-line_graph_single">
       <span>FRONT END</span>
       <div class="m-line_graph_bar">
        <div>
         <span data-attr="50"></span>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </section>
<!-- END BLOCK BAR -->