<!-- BLOCK COUNTER -->
<div id="m-counter">
    <div class="m-counter m-mt90">
        <img src="{{ asset('bundles/frontpage/assets/images/counter_bg.jpg') }}" class="img-responsive" alt="">
        <div class="m-counter_outer">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <span class="m-counter_number">1496</span>
                    <span>Smiling Clients</span>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <span class="m-counter_number">1500</span>
                    <span>Coffes drink</span>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <span class="m-counter_number">59</span>
                    <span>Awards</span>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <span class="m-counter_number">47</span>
                    <span>Projects Done</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END BLOCK COUNTER -->