{# 1 #}
<div class="m-expend_outer">
    <div class="m-service_block row m-shape_outer">
        <img alt="" class="img-responsive" src="{{ asset('bundles/frontpage/assets/images/home_long_01.jpg') }}">
        <div class="m-shape_bg m-shape_bg_dark m-shape_bg_right">
            <div class="m-service_text">
                <h2>Développement</h2>
                <p>
                    For all aspects of residential and light commercial design. As you draw walls and place smart architectural objects like doors and windows, the program creates a 3D
                </p>
                <div class="m-home_large_btm">
                    <i class="fa fa-expand m-but m-expand_popup"></i>
                    <a href="portfolio_single.html"><i class="fa fa-search m-but"></i></a>
                    <a href="#" class="m-but"><i class="fa fa-thumbs-up"></i> &nbsp; LIKE &nbsp; |  &nbsp; 12</a>
                </div>
            </div>
        </div>
    </div>
    <div class="m-portfolio_popup">
        <div class="container">
            <div class="m-portfolio_popup_outer">
                <div class="m-close_popup">
                    <i class="fa fa-times"></i>
                </div>
                <div class="m-popup_slider m-blog_slider_outer">
                    <div class="m-blog_list_img" id="m-portfolio_01">
                        <div>
                            <img src="{{ asset('bundles/frontpage/assets/images/portfolio_popup.jpg') }}" class="img-responsive" alt="">
                        </div>
                        <div>
                            <img src="{{ asset('bundles/frontpage/assets/images/portfolio_popup.jpg') }}" class="img-responsive" alt="">
                        </div>
                    </div>
                    <div class="m-main_slide_nav">
                        <a class="m-slide_left" href="javascript:void(0)"><i class="fa fa-angle-left"></i></a>
                        <a class="m-slide_right" href="javascript:void(0)"><i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
                <div class="m-portfolio_single_text clearfix">
                    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                        <p>
                            The future of architecture constantly evolves as society grows and adopts different technologies. The introduction of more technologies allows for a the greater opportunity for creativity and innovation. One concept, known as “Healing Architecture,” or the designing of hospitals and healthcare facilities in such a way to promote the healing of its occupants, has been researched for numerous years.
                        </p>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <span><strong>CLIENTS:</strong> Lorem Ipsum Text Ball</span> <br>
                        <span><strong>DATE:</strong> 15 - 05 - 2015</span> <br>
                        <span><strong>CATEGORY:</strong> <a href="#">architecture</a>, <a href="#">interior</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>