<!-- BLOCK FOOTER -->
<footer id="m-footer">
    <div class="m-lg_outer m-footer m-mt90">
        <div class="container text-center">
            <a href="#" class="m-footer_logo"><img src="{{ asset('bundles/frontpage/assets/images/logo.png') }}" alt=""></a>
            {% include ('_includes/_header.html.twig') %}
            {#<div class="m-footer_nav">#}

                {#<nav>#}
                    {#<ul>#}
                        {#<li><a href="index_01.html">HOME</a></li>#}
                        {#<li><a href="services.html">SERVICES</a></li>#}
                        {#<li><a href="portfolio_01.html">PORTFOLIO</a></li>#}
                        {#<li><a href="team_members.html">TEAM</a></li>#}
                        {#<li><a href="blog.html">BLOG</a></li>#}
                        {#<li><a href="index_shop.html">SHOP</a></li>#}
                        {#<li><a href="contact.html">CONTACT</a></li>#}
                        {##}
                    {#</ul>#}
                {#</nav>#}
            {#</div>#}
            <ul class="m-social_icon">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                <li><a href="#"><i class="fa fa-github-alt"></i></a></li>
            </ul>
            <p class="m-copyright">MINTY. 2016 All rights reserved</p>
        </div>
    </div>
</footer>
<!-- END BLOCK FOOTER -->