<!-- WELCOME MSG -->
<section id="m-welcome_msg">
    <div class="container">
        <div class="m-welcome_msg row m-m90">
            <h1>WELCOME TO OUR COMPANY</h1>
            <p>
                Architecture has to do with planning, designing and constructing form, space and ambience to reflect functional, technical, social, environmental and aesthetic considerations. It requires the creative manipulation and coordination of materials and technology, and of light and shadow. Often, conflicting requirements must be resolved.
            </p>
        </div>
    </div>
</section>
<!-- END WELCOME MSG -->