<!-- BLOC MINTY -->
<section id="m-why_us">
   <div class="container">
    <div class="m-why_us">
     <h2>WHY MINTY?</h2>
     <p>
      Architecture has to do with planning, designing and constructing form, space and ambience to reflect functional, technical, social, environmental and aesthetic considerations. It requires the creative manipulation and coordination.
     </p>
    </div>
   </div>
  </section>
<!-- END BLOCK MINTY -->