<!-- PRESENTATION -->
<section id="m-service_block">
    <div class="m-lg_outer">
        <div class="m-service_block row m-shape_outer">
            <img src="{{ asset('bundles/frontpage/assets/images/servicebg.jpg') }}" class="img-responsive" alt="">
            <div class="m-shape_bg m-shape_bg_dark m-shape_bg_right">
                <div class="m-service_text">
                    <h2>Agilité</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium blanditiis consectetur cum, cupiditate delectus dolores doloribus est in ipsam itaque laborum molestias nobis quaerat quisquam rerum sunt tempore veniam voluptatem....
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END PRESENTATION -->