<!-- PRESENTATION -->
<section id="m-service_block">
    <div class="m-lg_outer">
        <div class="m-service_block row m-shape_outer">
            <img src="{{ asset('bundles/frontpage/assets/images/services_bg.jpg') }}" class="img-responsive" alt="">
            <div class="m-shape_bg m-shape_bg_dark m-shape_bg_right">
                <div class="m-service_text">
                    <h2>Services</h2>
                    <p>
                        In the late 20th century a new concept was added to those included in the compass of both structure and function, the consideration of sustainability, hence sustainable architecture
                        To satisfy the contemporary ethos a building should be constructed in a manner...
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END PRESENTATION -->