<!-- BLOCK PRICE-TABLE -->
<section id="m-price_table">
   <div class="container">
    <div class="m-price_section">
     <div class="m-section_header">
      <h2>PRICING TABLES</h2>
      <span>some other text goes here</span>
     </div>
    </div>
    <div class="m-price_blocks clearfix">
     <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <div class="m-single_price_inner">
       <h3>STANDARD</h3>
       <div class="m-table_price">
        <span class="m-price">$35</span>
        <span class="m-price_time">month</span>
       </div>
       <ul class="m-price_offers">
        <li>Customer Support 24/7</li>
        <li>Lifetime Updates</li>
        <li>20GB Cloud Storage</li>
        <li>20 E-mail boxes</li>
        <li>Smily Guarantee</li>
       </ul>
       <a class="m-but_blank_link" href="#">Subscribe</a>
      </div>
     </div>
     <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <div class="m-single_price_inner">
       <h3>PREMIUM</h3>
       <div class="m-table_price">
        <span class="m-price">$55</span>
        <span class="m-price_time">month</span>
       </div>
       <ul class="m-price_offers">
        <li>Customer Support 24/7</li>
        <li>Lifetime Updates</li>
        <li>20GB Cloud Storage</li>
        <li>20 E-mail boxes</li>
        <li>Smily Guarantee</li>
       </ul>
       <a class="m-but_blank_link" href="#">Subscribe</a>
      </div>
     </div>
     <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <div class="m-single_price_inner">
       <h3>ULTRA</h3>
       <div class="m-table_price">
        <span class="m-price">$75</span>
        <span class="m-price_time">month</span>
       </div>
       <ul class="m-price_offers">
        <li>Customer Support 24/7</li>
        <li>Lifetime Updates</li>
        <li>20GB Cloud Storage</li>
        <li>20 E-mail boxes</li>
        <li>Smily Guarantee</li>
       </ul>
       <a class="m-but_blank_link" href="#">Subscribe</a>
      </div>
     </div>
    </div>
   </div>
  </section>
<!-- END BLOCK PRICE-TABLE -->