<!-- BLOCK REVIEW -->
<section id="m-user_review">
   <div class="container m-user_review">
    <div class="m-user_review_list" id="m-user_review_list">
     <div>
      <p>
       “When you look at Japanese traditional architecture, you have to look at Japanese culture and its relationship with nature. You can actually live in a harmonious, close contact with nature - this very unique to Japan.”
      </p>
      <div class="m-user_review_info">
       <h4>Tadao Ando</h4>
       <span>architect</span>
      </div>
     </div>
     <div>
      <p>
       “When you look at Japanese traditional architecture, you have to look at Japanese culture and its relationship with nature. You can actually live in a harmonious, close contact with nature - this very unique to Japan.”
      </p>
      <div class="m-user_review_info">
       <h4>Tadao Ando</h4>
       <span>architect</span>
      </div>
     </div>
     <div>
      <p>
       “When you look at Japanese traditional architecture, you have to look at Japanese culture and its relationship with nature. You can actually live in a harmonious, close contact with nature - this very unique to Japan.”
      </p>
      <div class="m-user_review_info">
       <h4>Tadao Ando</h4>
       <span>architect</span>
      </div>
     </div>
    </div>
   </div>
  </section>
<!-- END BLOCK REVIEW -->