<!-- POP UP SEARCH -->
<div class="m-search_popup">
    <div class="m-search_form">
        <form action="#">
            <input type="text" placeholder="Enter your text and hit enter">
        </form>
        <i class="fa fa-times" id="m-search_close"></i>
    </div>
</div>
<!-- END SEARCH POP UP -->